.container {
    height: 100%;
    width: 100%;
}

.row {
	height: 100%;
}

a {
	color: rgb(85, 57, 0);
	text-decoration: none;
}

a:hover,a:focus {
	color: rgb(35, 100, 103);
	text-decoration: none;
}

.room-content {
	margin-bottom: 0;
	height: 100%;
}

.room-head, .room-item, .message-list, .home-head {
	color: rgb(85, 57, 0);
}

.message-list {
	list-style-type: none;
}

.navbar {
	background-color: rgb(255, 227, 170);
	height: 100%;
	margin-bottom: 0;
}

.room-list {
	list-style-type: none;
	margin-top: 1rem;
	padding-left: 0;
}

.submit-area {
	position: fixed;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 15px;
	min-width: 100%;
	max-width: 100%;
}

.submit-bar {
	width: 66%;
}

@media (max-width: 992px) and (min-width: 320px) {
	body {
		padding-top: 300px;
	}

	.navbar {
		position: fixed;
		top: 0;
		height: auto;
		width: 100%;
	}
}
