a {
	color: rgb(85, 57, 0);
	text-decoration: none;
}

a:hover {
	color: rgb(35, 100, 103);
	text-decoration: none;
}

a:focus {
	color: rgb(35, 100, 103);
	text-decoration: none;
}

button {
	margin-right: 1rem;
}

.navbar {
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	background: rgb(255, 227, 170);
}

.home-head {
	padding-left: 0.8rem;
	color: rgb(85, 57, 0);
}

h4 {
	margin-bottom: 1rem;
}

.list {
	padding: 1rem 0;
	list-style-type: none;
}

.room-item {
	padding-top: 0.25rem;
	color: rgb(85, 57, 0);
}

.roomcontent {
	position: fixed;
	top: 0;
	left: 0;
	
	height: 100%
}

.room-head {
	color: rgb(85, 57, 0);
	margin-left: 2rem;
}

.messages {
	color:rgb(85, 57, 0);
	margin-left: 3rem;
}

.message-input {
	position: fixed;
	bottom: 0;
	left: 0;
	height: 2.5rem;
	padding: 0.25rem;
	align-content: center;
	text-align: left;
	width: 100%;
}

input {
	width: 60%;
}
