html, body {
  height: 100%;
}

/* Modal (login, room) styles */
.login-modal,
.room-modal {
  border: 0.4rem solid #BDBDBD;
}

.modal-header {
  background: #607D8B;
  color: #FFFFFF;
}

.form-header {
  text-align: center;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-body .email input,
.modal-body .password input,
.modal-body .password-confirm input,
.modal-body .room input,
.modal-body .submit button {
  width: 35rem;
  height: 4rem;
}

.modal-body .email input,
.modal-body .password input,
.modal-body .password-confirm input,
.modal-body .room input {
  margin-bottom: 2rem;
}

.modal-footer {
  display: flex;
  justify-content: center;
}

/* Custom buttons styles */

yellow-btn,
.btn {
  border-radius: 0;
}

.yellow-btn {
  background: #FFC107;
  color: black;
}

.grey-btn {
  background: #607D8B;
  color: #FFFFFF;
}

.yellow-btn:hover,
.grey-btn:hover {
  background: #BDBDBD;
}
