html, body {
  height: 100%;
}

yellow-btn,
.btn {
  border-radius: 0;
}

.yellow-btn {
  background: #FFC107;
  color: black;
}

.grey-btn {
  background: #607D8B;
  color: #FFFFFF;
}

.yellow-btn:hover,
.grey-btn:hover {
  background: #BDBDBD;
}
