<div class='modal-header'>
	<h1>Please sign in or create an account.</h1>
</div>
<div class='modal-body'>
	<button class='btn btn-info' ng-click='login.showLoginForm = true'>Use your email</button>
	<button class='btn btn-info' ng-click='login.loginGoogle()'>Use your Google account</button>
	<button class='btn btn-info' ng-click='login.showCreateForm = true'>Create an account</button>
</div>

<div class='create-form' ng-show='login.showCreateForm'>
	<div class='modal-header'>
		<h1>Create an account</h1>
	</div>
	<form>
		<div class='modal-body'>
			<input type='email' ng-model='login.userEmail' placeholder='Email address' required/>
			<input type='password' ng-model='login.userPassword' placeholder='Password' required/>
		</div>
		<div class='modal-footer'>
			<button class='btn btn-success' ng-click='login.createAccount()'>Create account</button>
		</div>
	</form>
</div>

<div class='login-form' ng-show='login.showLoginForm'>
	<div class='modal-header'>
		<h1>Login</h1>
		<h1>{{Login.error.message}}
	</div>
	<form>
		<div class='modal-body'>
			<input type='email' ng-model='login.userEmail' placeholder='Email address' required/>
			<input type='password' ng-model='login.userPassword' placeholder='Password' required/>
		</div>
		<div class='modal-footer'>
			<button class='btn btn-success' ng-click='login.loginEmail()'>Log me in!</button>
		</div>
	</form>
</div>
